<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>spotifyGroups.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>41BCB0D324240E19002BE02D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>41BCB0E924240E1A002BE02D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>41BCB0F424240E1A002BE02D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
